@charset "UTF-8";

*{
	font-family: PixelMplus10-Regular;
}
 body{
    background-image: url(/nakao/img/doukutu4.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  h1{
    text-align: center;
    margin: 10px;
    font-family: PixelMplus10-Regular;
  }

  #main {
      display: flex;
      margin-top: 25px;
      height: 605px;
      width: 100%;
    }
  .left{
    background-color: rgb(50, 30, 30);
    background-size: cover;
    text-align: center;
    margin: 10px;
    width:23%;
    color:rgb(200, 200, 200);
  }
  .right{
    background-color: rgb(50, 30, 30);
    background-size: cover;
    text-align: left;
    margin: 10px;
    width: 74%;
    overflow: auto;

  }
  .backbtnbox{
  	width: 100px;
  	height: 100px;
	margin: 8px;
	margin-bottom: 30px;
  }
  .backbtnbox form{
    height: 100px;
    margin: 0;
  	padding: 0;
  }
  #backbtn{
    height: 100px;
    margin: 0;
  	padding: 0;
  }
  #backbtn img{
  	width: 100%;
  	height: 100%;
  }

  .maincharabox{
	background-image: url(/nakao/img/ki.jpg);
	width: 285px;
  	margin: 11px;
	color:rgb(0,0,0);
  }
   .maincharainf{
  	text-align: center;
    padding: 8px;
    font-weight: 24;
  }
  .maincharainf * {
    font-weight: 24;
  }

  .maincharaimg{
	height: 250px;
  	display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }

  .listcharabox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  	/*justify-content: space-between;*/

  }
  .formcharabox{
  	width: 285px;
  	margin: 21px;
  	background-image: url(/nakao/img/ki.jpg);
  }

  .listcharainf{
    text-align: center;
    margin: 8px;
    font-weight: 24;
  }
  .listcharainf * {
    font-weight: 24;
  }

  .listcharaimg{
  	height: 250px;
  	display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }

  .changeBtn{
  	text-align: center;
  	margin: auto;
  	margin-bottom: 8px;
  }