@charset "UTF-8";

h1{
  margin-top: 100px;
  text-align: center;
}
body{
	padding-top: 100px;

                            /* 余白指定 */
    background-image: url(/nakao/img/lo.png);    /* 背景色指定 */
    /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

}
.nes-container is-rounded is-dark{
	padding: 10px 50px 30px 0;
}

.namepass{
	  margin-top: 50px;
	  padding-left: 500px;
	  padding-right: 500px;
 	  text-align: center;
}
.btn{
		  margin-top: 25px;
	  text-align: center
	  }
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  color: #111;
}



  section.container{
    min-width: 500px;
    margin: 10% auto;
    text-align: center;
  }
    a:hover{border-bottom: 1px solid #111;}
    h1{font-size: 2em; padding: 20px 0;}
    p{
      font-size: .75em;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 0;
    }

    button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      border: 2px solid #111;
      padding: 15px 50px;
      overflow: hidden;
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: 50;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
      outline: none;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: 50;
        transition: all .3s ease-in-out;
        outline: none;
      }
      button div:focus{
        outline: none;
      }
*{
	font-family: PixelMplus10-Regular;
}
*:focus {
  outline: none;
}
